.domain {
    color: gray;
    opacity: 0.7;
}

.tick text {
    font: Lato;
    font-size: 12px;
    color: gray;
    opacity: 0.7;
}

.sc-kAyceB.rdt_TableHeadRow{
    border: none;
}

.kXtZIP {
    font-weight: 600;
}

[data-column-id="1"]{
    padding-top: 18px;
    padding-bottom: 18px;
}

[data-column-id="2"]{
        background-color: #E5EDFB;
}

[data-column-id="3"]{
    font-size: 16px;
    padding-left: 6px;
}

[data-column-id="4"]{
    font-size: 16px;
    padding-left: 6px;
}



[data-column-id="5"]{
    background-color: #E5EDFB;
    color: #5486E3;
    font-size: 16px;
    padding-left: 6px;
}