@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item-container {
  @apply flex rounded py-2.5 gap-2 items-center text-white text-16px text-opacity-[85%]  leading-[22px];
}

.nav-item-container.active {
  @apply flex rounded py-2.5 gap-2 items-center text-white text-16px  font-black leading-[22px];
}
.right-sidebar-container {
  @apply pt-1 pb-3 rounded-[9px] bg-white drop-shadow-[0px_2px_3px_#00000029];
}

@layer components {
  .btn-ghost {
    @apply hover:bg-translucent rounded-[4px] py-[10px] pl-[15px] pr-[15px]  text-16px text-primary;
  }
}

:root {
  font-family: Lato, Roboto Slab, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* -----------------------------server page---------------------------- */

/* Survey Details */

.react-quill{
  height: 180px;
  margin-bottom: 20px;
}

.input-container {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #E8E9EC;
  color: #E8E9EC;
}

.dateTimeContainer-green{
  padding: 10px;
  background-color: #F2FDEF;
  border: 1px solid #00BC9F;
  border-radius: 4px;
}

.dateTimeContainer-red{
  padding: 10px;
  background-color: #FFF3F2;
  border: 1px solid #F89D96;
  border-radius: 4px;
}

/* Questions */









